.posts {
  max-width: 720px;

  a {
    display: block;

    & + a {
      margin-top: 2rem;
      padding-top: 2rem;
    }

    strong {
      display: block;
      font-size: 1.75rem;
      margin-top: 1rem;
      line-height: 2rem;
      transition: color 0.2s;
    }

    p {
      font-size: 1.25rem;
      color: var(--body);
      margin-top: 0.5rem;
      line-height: 1.625rem;
    }
  }

  .postInfo {
    display: flex;
    align-items: center;

    color: var(--info);

    margin-top: 1rem;
    gap: 2rem;

    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

.loadMore {
  margin-top: 3rem;
  border: none;
  background: none;
  color: var(--highlight);
  font-size: 1.25rem;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}
